<div class="layout-dashboard">
  <div class="grid">
    <div class="col-12 flex align-items-center justify-content-between flex-wrap gap-5">

      <div class="mx-auto sm:mx-0">
        <div class="flex align-items-center">
            <span class="font-semibold text-2xl">Ingresos:</span>
            <span
              class="text-gray-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
              [style.backgroundColor]="'rgba(77, 182, 172, 0.1)'">
              {{dahboardCashReceipt().expectedValue  | currency:'COP'}}
            </span>
            <span
              class="text-green-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
              [style.backgroundColor]="'rgba(77, 182, 172, 0.1)'">
              {{dahboardCashReceipt().totalPaid  | currency:'COP'}}
            </span>

            <span
              class="font-semibold text-2xl" style="margin-left: 0.5rem;">Gastos: </span>
            <span
              class="text-gray-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
              [style.backgroundColor]="'rgba(185, 62, 27, 0.1)'">
              {{dahboardCosts().expectedValue | currency:'COP'}}
            </span>
            <span
              class="text-red-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
              [style.backgroundColor]="'rgba(185, 62, 27, 0.1)'">
              {{dahboardCosts().totalPaid | currency:'COP'}}
            </span>

            <span class="font-semibold text-2xl" style="margin-left: 0.5rem;">Sobrante: </span>
            @if( (dahboardCashReceipt().expectedValue - dahboardCosts().expectedValue) >= 0) {
              <span
                class="text-gray-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
                [style.backgroundColor]="'rgba(77, 182, 172, 0.1)'">
                {{dahboardCashReceipt().expectedValue - dahboardCosts().expectedValue  | currency:'COP'}}
              </span>
            } @else {
              <span
                class="text-gray-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
                [style.backgroundColor]="'rgba(185, 62, 27, 0.1)'">
                {{dahboardCashReceipt().expectedValue - dahboardCosts().expectedValue  | currency:'COP'}}
              </span>
            }
            @if( (dahboardCashReceipt().totalPaid - dahboardCosts().totalPaid) >= 0) {
              <span
                class="text-green-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
                [style.backgroundColor]="'rgba(77, 182, 172, 0.1)'">
                {{dahboardCashReceipt().totalPaid - dahboardCosts().totalPaid  | currency:'COP'}}
              </span>
            } @else {
              <span
                class="text-red-700 border-round font-semibold ml-4 p-2 white-space-nowrap"
                [style.backgroundColor]="'rgba(185, 62, 27, 0.1)'">
                {{dahboardCashReceipt().totalPaid - dahboardCosts().totalPaid  | currency:'COP'}}
              </span>
            }
          </div>
      </div>
      <div class="mx-auto sm:mx-0">
        <span style="margin-right: 1rem;">Mes:</span>
        <p-dropdown
          [options]="listMonths"
          [(ngModel)]="actualMonth"
          appendTo="body"
          optionValue="id"
          (onChange)="searchData()"
          [disabled]="loading()"
          optionLabel="name"/>
        <span style="margin-right: 1rem; margin-left: 1rem;">Año:</span>
        <p-dropdown
          [options]="listYears"
          (onChange)="searchData()"
          [(ngModel)]="actualYear"
          [disabled]="loading()"
          appendTo="body"/>
      </div>
    </div>
    <div class="h-full col-12 xl:col-4  animate__animated animate__fadeIn">
      <div class="card h-full">
        <div class="flex flex-column md:flex-row md:justify-content-between align-items-center mb-2">
          <h4 class="white-space-nowrap">GASTOS POR MEDIO DE PAGO</h4>
        </div>
        <p-table
          [value]="dahboardCosts().costsByPaymentMethod"
          [rows]="5"
          [scrollable]="true" scrollHeight="650px"
          [loading]="loading()"
          responsiveLayout="scroll">
          <ng-template pTemplate="body" let-cost>
            <tr>
              <td>
                <span  [class]="'white-space-nowrap flex w-3rem h-3rem align-items-center justify-content-center border-round-xl customer-badge status-' + cost.paymentMethod.color.toLowerCase()">
                    <i class="text-2xl text-color" [ngClass]="'pi ' + cost.paymentMethod.icon"></i>
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold" style="margin-left: -2rem;">
                  {{cost.paymentMethod.name}}({{cost.costs.length}})
                </span>
                <span class="block text-color-secondary font-sm font-bold" style="margin-left: -2rem;">
                  <b>PAGAR EL DIA: </b> {{cost.paymentMethod.paymentDate}}
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold text-lg text-right">
                  <b class="title-costs">TOTAL: </b>
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" >
                  <b class="title-costs">DEBE: </b>
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" >
                  <b class="title-costs">PAGO: </b>
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-gray-600': true}" style="margin-left: -1rem;">
                  {{cost.expectedValue | currency:'COP'}}
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-red-600': true}" style="margin-left: -1rem;">
                  {{cost.expectedValue - cost.totalPaid | currency:'COP'}}
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-green-700': true}" style="margin-left: -1rem;">
                  {{cost.totalPaid | currency:'COP'}}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="h-full col-12 xl:col-4  animate__animated animate__fadeIn">
      <div class="card h-full">
        <div class="flex flex-column md:flex-row md:justify-content-between align-items-center mb-2">
          <h4 class="white-space-nowrap">GASTOS POR CATEGORÍA</h4>
        </div>
        <p-table
          [value]="dahboardCosts().costsByCategory"
          [rows]="5"
          [scrollable]="true" scrollHeight="650px"
          [loading]="loading()"
          responsiveLayout="scroll">
          <ng-template pTemplate="body" let-cost>
            <tr>
              <td>
                <span  [class]="'white-space-nowrap flex w-3rem h-3rem align-items-center justify-content-center border-round-xl customer-badge status-' + cost.category.color.toLowerCase()">
                    <i class="text-2xl text-color" [ngClass]="'pi ' + cost.category.icon"></i>
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold" style="margin-left: -2rem;">
                  {{cost.category.name}}
                </span>
                <span class="block text-color-secondary font-sm font-bold" style="margin-left: -2rem;">
                  <b>Cantidad: </b> {{cost.costs.length}}
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold text-lg text-right">
                  <b class="title-costs">TOTAL: </b>
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" >
                  <b class="title-costs">DEBE: </b>
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" >
                  <b class="title-costs">PAGO: </b>
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-gray-600': true}" style="margin-left: -1rem;">
                  {{cost.expectedValue | currency:'COP'}}
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-red-600': true}" style="margin-left: -1rem;">
                  {{cost.expectedValue - cost.totalPaid | currency:'COP'}}
                </span>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-green-700': true}" style="margin-left: -1rem;">
                  {{cost.totalPaid | currency:'COP'}}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="h-full col-12 xl:col-4 animate__animated animate__fadeIn">
      <div class="card h-full">
        <div class="flex flex-column md:flex-row md:justify-content-between align-items-center mb-2">
          <h4 class="white-space-nowrap">INGRESOS</h4>
        </div>
        <div class="flex w-full justify-content-between p-1">
          <div>
              <span class="block white-space-nowrap font-semibold">Ingresos Previstos</span>
              <span class="block font-semibold text-xl mt-2 white-space-nowrap">{{dahboardCashReceipt().expectedValue  | currency:'COP'}}</span>
          </div>
          <div class="text-right">
            <span class="block white-space-nowrap font-semibold">Ingresos Pagos</span>
            <span class="block font-semibold text-xl mt-2 white-space-nowrap">{{dahboardCashReceipt().totalPaid  | currency:'COP'}}</span>
          </div>
        </div>
        <p-table
          [value]="dahboardCashReceipt().cashReceipts"
          [rows]="6"
          [scrollable]="true" scrollHeight="595px"
          [loading]="loading()"
          responsiveLayout="scroll">
          <ng-template pTemplate="body" let-cashReceipt>
            <tr>
              <td>
                <span  [class]="'white-space-nowrap flex w-3rem h-3rem align-items-center justify-content-center border-round-xl customer-badge status-' + cashReceipt.color.toLowerCase()">
                    <i class="text-2xl text-color" [ngClass]="'pi pi-money-bill'"></i>
                </span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold">{{cashReceipt.name}}</span>
                <span class="block text-color-secondary font-sm font-bold">{{(cashReceipt.createdAt | date: 'dd, MMMM yyyy - ha')?.toUpperCase()}}</span>
              </td>
              <td>
                <span class="white-space-nowrap block font-semibold text-lg text-right" [ngClass]="{'text-green-700': cashReceipt.paid, 'text-gray-600': !cashReceipt.paid}">
                  @if (cashReceipt.paid) {
                    +{{cashReceipt.amount | currency:'COP'}}
                  } @else {
                    {{cashReceipt.amount | currency:'COP'}}
                  }
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
