<div class="card">
  <p-table #dt1 [value]="listPaymentMethods()" dataKey="id" [rows]="loading() ? 7 : 8" [loading]="loading()" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="formgrid grid">
        <div class="field col-12 md:col-8">
          <button
            pButton
            label="Nuevo Método de Pago"
            class="p-button-outlined p-button-success mb-2"
            icon="pi pi-money-bill"
            (click)="openModalPaymentMethods('create')">
          </button>
        </div>
        <div class="field col-12 md:col-4" style="text-align: end;">
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input  pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar" class="w-full"/>
          </span>
          <button
            style="margin-left: 1rem;"
            pButton
            class="p-button-outlined p-button-info mb-2"
            icon="pi pi-refresh"
            pTooltip="Actualizar"
            tooltipPosition="bottom"
            (click)="loadListPaymentMethods()">
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Nombre
          </div>
        </th>
        <th style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Color
          </div>
        </th>
        <th style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Icono
          </div>
        </th>
        <th style="min-width: 15rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Descripción
          </div>
        </th>
        <th style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Fecha de Pago
          </div>
        </th>
        <th style="min-width: 12rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Fecha de Creación
          </div>
        </th>
        <th style="min-width: 6rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Estado
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center" class="text-center">
            Acciones
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paymentMethod>
      <tr>
        <td class="text-center">
          {{paymentMethod.name}}
        </td>
        <td class="text-center">
          <span [class]="'customer-badge status-' + paymentMethod.color.toLowerCase()">COLOR</span>
        </td>
        <td class="text-center">
          <i [class]="'pi ' + paymentMethod.icon" style="font-size: 1.5rem"></i>
        </td>
        <td class="text-center">
          {{paymentMethod.description}}
        </td>
        <td class="text-center">
          {{paymentMethod.paymentDate}}
        </td>
        <td class="text-center">
          {{(paymentMethod.createdAt | date: 'dd, MMMM yyyy - ha')?.toUpperCase()}}
        </td>
        <td class="text-center">
          <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': paymentMethod.active, 'false-icon pi-times-circle text-pink-500': !paymentMethod.active}" style="font-size: 1.5rem"></i>
        </td>
        <td style="text-align: center;">
          @if(paymentMethod.active) {
            <button
              style="margin-right: 1rem;"
              pTooltip="Editar"
              tooltipPosition="left"
              pButton
              class="p-button-outlined p-button-warning mb-2"
              icon="pi pi-pencil"
              (click)="openModalPaymentMethods('edit',paymentMethod)">
            </button>
            <button
              style="margin-right: 1rem;"
              pTooltip="Deshabilitar"
              tooltipPosition="right"
              pButton
              class="p-button-outlined p-button-danger mb-2"
              icon="pi pi-times-circle"
              (click)="disablePaymentMethod(paymentMethod)">
            </button>
          } @else {
            <button
              style="margin-right: 1rem;"
              pTooltip="Habilitar"
              tooltipPosition="right"
              pButton
              class="p-button-outlined p-button-success mb-2"
              icon="pi pi-check-circle"
              (click)="enablePaymentMethod(paymentMethod)">
            </button>
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No hay métodos de pago registrados</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="8" class="text-center">Cargando métodos de pago, por favor espere</td>
      </tr>
    </ng-template>
    </p-table>
</div>
