<div class="flex h-screen animate__animated animate__fadeIn">
  <div class="w-full lg:w-4 h-full text-center px-6 py-6 flex flex-column justify-content-between">
      <img [src]="'assets/layout/images/logo-white.svg'" class="h-4rem mt-4" alt="diamond-layout" />
      <router-outlet></router-outlet>
  </div>
  <div class="w-8 hidden lg:flex flex-column justify-content-between align-items-center px-6 py-6 bg-cover bg-norepeat" style="background-image: url('assets/demo/images/auth/bg-login.jpg')">
      <div class="mt-auto mb-auto">
          <span class="block text-white text-7xl font-semibold" style="text-align: center;">{{tittle}}</span>
          <span class="block text-white text-3xl mt-4" style="text-align: justify;">{{info}}</span>
      </div>
  </div>
</div>
