@if (formCost) {
  <form [formGroup]="formCost" (ngSubmit)="saveAction()">
    <div class="p-fluid">
      <div class="formgrid grid">
          <div class="field col-12 md:col-6">
              <label>
                  Nombre
                  <span class="required">*</span>
              </label>
              <input pInputText type="text" formControlName="name"/>
          </div>
          <div class="field col-12 md:col-6">
            <label>
                Valor
                <span class="required">*</span>
            </label>
            <p-inputNumber
              formControlName="amount"
              inputId="currency-co"
              mode="currency"
              currency="COP"
              locale="es-CO" />
          </div>
          <div class="field col-12 md:col-6">
            <label>
              Categoría
              <span class="required">*</span>
            </label>
            <p-dropdown
              formControlName="categoryId"
              [options]="listCategory()"
              placeholder="Seleccione Categoría"
              appendTo="body"
              optionValue="id"
              optionLabel="name"
              [showClear]="true">
              <ng-template pTemplate="selectedItem" let-selectedCategory>
                <span [class]="'customer-badge status-' + selectedCategory.color.toLowerCase()">
                  <i [class]="'pi ' + selectedCategory.icon" style="font-size: 1rem"></i>
                  {{selectedCategory.name}}
                </span>
              </ng-template>
              <ng-template let-category pTemplate="item">
                <span [class]="'customer-badge status-' + category.color.toLowerCase()">
                  <i [class]="'pi ' + category.icon" style="font-size: 1rem"></i>
                  {{category.name}}
                </span>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label>
              Método de Pago
              <span class="required">*</span>
            </label>
            <p-dropdown
              formControlName="paymentMethodId"
              [options]="listPaymentMethod()"
              placeholder="Seleccione Método de Pago"
              appendTo="body"
              optionValue="id"
              optionLabel="name"
              [showClear]="true">
              <ng-template pTemplate="selectedItem" let-selectedPaymentMethod>
                <span [class]="'customer-badge status-' + selectedPaymentMethod.color.toLowerCase()">
                  <i [class]="'pi ' + selectedPaymentMethod.icon" style="font-size: 1rem"></i>
                  {{selectedPaymentMethod.name}}
                </span>
              </ng-template>
              <ng-template let-paymentMethod pTemplate="item">
                <span [class]="'customer-badge status-' + paymentMethod.color.toLowerCase()">
                  <i [class]="'pi ' + paymentMethod.icon" style="font-size: 1rem"></i>
                  {{paymentMethod.name}}
                </span>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label>
              Mes
              <span class="required">*</span>
            </label>
            <p-dropdown
              formControlName="month"
              [options]="listMohnts"
              placeholder="Seleccione Mes"
              appendTo="body"
              optionValue="id"
              optionLabel="name"
              [showClear]="true">
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label>
              Año
              <span class="required">*</span>
            </label>
            <p-dropdown
              formControlName="year"
              [options]="listYears"
              placeholder="Seleccione Año"
              appendTo="body"
              [showClear]="true">
            </p-dropdown>
          </div>
          @if (type() === 'create') {
            <div class="field col-12 md:col-6" style="margin-top: 2.5rem;">
              <p-checkbox
                formControlName="replicate"
                [binary]="true"
                (click)="disableReplicateVal()"
                label="Replicar Ingreso">
              </p-checkbox>
            </div>
            <div class="field col-12 md:col-6">
              <label>
                Cantidad de Replicas
              </label>
              <p-inputNumber
                formControlName="replicateVal"
                min="0"
                max="12"
                [showButtons]="true"
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus"
                spinnerMode="horizontal"
                buttonLayout="horizontal"
                decrementButtonIcon="pi pi-minus" />
            </div>
          }
      </div>
    </div>
    <div class="field col animate__animated animate__fadeIn" *ngIf="loading()">
      <p-progressBar
          class="w-20rem animate__animated animate__fadeIn"
          mode="indeterminate">
      </p-progressBar>
    </div>
    @if(error() !== null) {
      <label class="error">
        <em>
            {{error()}}
        </em>
      </label>
    }
    <div class="mt-3 flex justify-content-end column-gap-4" *ngIf="!loading()">
      <p-button
          icon="pi pi-times-circle"
          styleClass="p-button-sm p-button-secondary"
          label="Cancelar"
          (onClick)="closeModal()"
      ></p-button>
      <button
          pButton
          type="submit"
          label="Guardar"
          icon="pi pi-save"
          [disabled]="this.formCost.invalid"
          class="p-button-sm p-button-success">
      </button>
  </div>
</form>

}
